.gitconfig
# DWM Builds
*.o
# Extra .configs that we don't need to include
config/FreeCAD
config/google-chrome
config/nvim/autoload
config/nvim/plugged
config/zsh/.zcompdump
config/ncspot/userstate.toml
config/bpytop/error.log
config/pulse
config/filezilla
config/qutebrowser/bookmarks
config/qutebrowser/quickmarks
config/dconf
config/QtProject.conf
config/darktable
config/rclone

# Qbittorrent
config/qBittorrent/categories.json
config/qBittorrent/rss
config/qBittorrent/watched_folders.json
config/qBittorrent/qBittorrent-data.conf

#Joplin Desktop
config/Joplin
config/joplin-desktop/database.sqlite
config/joplin-desktop/cache
config/joplin-desktop/resources
config/joplin-desktop/tmp
config/joplin-desktop/log.txt
config/joplin-desktop/plugins
config/joplin-desktop/plugin-data

# Local
local/share/cargo
local/share/calcurse
local/share/xorg
local/share/nvim
local/share/mimeapps.list
local/share/recently-used.xbel
local/share/zathura

# Suckless
suckless/dwm/dwm
suckless/st/st
suckless/dwmblocks/dwmblocks
