// Theme colors
$bg: #282828;
$fg: #ebdbb2;
$primary: #d65d0e;
$red: #cc241d;
$green: #8ec07c;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$gray: #a89984;

// Other global variables
$bar_height: 16px;
$bar_radius: 16px;
$general_radius: 8px;
$space_between: 2px;
$font_size: 14px;
$font_size_large: 22px;
$font: Hack;
